/* ===== LAYOUT ===== */

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
#container {
    padding-top: 2vw;
    width: 70%;
    margin: 0 auto;
    

    /*background-color: #eee;*/
    box-shadow: 0 0 50px 0 #999;
}

#header {
    text-align: center;
}

#content {
    padding: 2vw;
}

#content img {
    margin: 1vw;
}

.image_container {
    text-align: center;
}

.post {
    padding: 2vw;
}

.post .header {
    overflow: auto;
}

.post .title {
    font-size: 25pt;
    float: left;
}

.post .date {
    float: right;
    line-height: 37pt;
}

.post .content {
    
}

hr {
    margin-top: 2vw;
    margin-bottom: 1vw;
}

/* ===== TEXT STYLES ===== */

.code {
    padding: 2vw;
    padding-left: 4vw;
    padding-right: 4vw;
    background-color: #eee;
    font-family: Courier New, Courier, monospace;
    color: #555;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}